

* {
    box-sizing: border-box;
    font-family: 'Noto Sans CJK KR';
    margin: 0px;
    -webkit-font-smoothing: antialiased;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari, Opera*/
    }
}
