
.listHeader {
    display: flex;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    height: 70px;
    background-color: rgba(0,0,0,0.1);
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;

    padding: 30px;

    h1 {
        font-weight: bold;
    }

    select {
        height: 25px;
        color: rgba(255,255,255,1);
        border-radius: 5px;
        border: none;
        background-color: rgba(0,0,0,0.4);

    }
}