
.listHeader {
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    height: 70px;
}

.container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    padding: 20px;

    span {
        font-size: 30px;
    }
}