

.List {
    width: 100%;
    background-color: antiquewhite;
    display: flex;

}

.ListContainer {
    max-width: 1200px;
    width: 1200px;
    height: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 200px;
    height: 300px;
    background-color: aqua;
    margin: 20px;
}