

.List {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ListContainer {
    max-width: 1200px;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.moreBtn {
    width: 100%;
    height: 30px;
    max-width: 200px;
    margin-bottom: 50px;
    background-color: #00B7D4;
    border: none;
    border-radius: 5%;
    color: rgba(255,255,255,1);
    cursor: pointer;
}

.card {
    width: 200px;
    height: 370px;
    margin: 20px;
    background-color: rgba(255,255,255,0.5);
    cursor: pointer;
    user-select: none;

    img {
        width: 100%;
        height: 300px;

    }

}