

.carousel {
    height: 46vh;
    background-color: #efebeb;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}

.carouselContainer {
    width: 1200px;
    height: 400px;
}