

.carousel {
    height: 400px;
    background-color: #efebeb;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;

    h2 {
        margin-bottom: 20px;
    }
}

.carouselContainer {
    display: flex;
    align-items: center;
    position: relative;
    width: 90vw;
    max-width: 1200px;
    height: 400px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
}

.cards {
    display: flex;
    width: 1000vw;
    height: 250px;
    gap: 0px 50px;
    background-color: yellow;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        height: 200px
}
}

.arrow {
    position: absolute;
    z-index: 1000;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;

    &:nth-child(1) {
        left: 10px;
    }

    &:nth-child(2) {
        right: 10px;
    }
}
