
.jumbotron {
    position: relative;
    color: rgba(255,255,255,1);
    background-color: transparent;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-image: url(../../image/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
        font-size: 60px;
    }

    p {
        font-size: 30px;
    }
}

.jumbotron::before {
    position: absolute;
    content: "";
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.2);
}

.jumbotronContainer {
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

.header {
    margin-bottom: 30px;
}
