
.jumbotron {
    background-color: #efebeb;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.jumbotronContainer {
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

.header {
    margin-bottom: 30px;
}