
.nav {
    display: flex;
    background-color: rgb(41,48, 57);
}

.logo {
    width: 200px;
}

.navItems {
    display: flex;
    list-style: none;
    color: white;
    font-size: 16px;
}


.navItem {
    padding: 10px;
}