@import url(../../scss/global.scss);

.nav {
    display: flex;
    background-color: rgb(41,48, 57);
    font-family: 'Noto Sans CJK KR';
}

.logo {
    width: 150px;
}

.navItems {
    display: flex;
    list-style: none;
    color: white;
    font-size: 20px;
}


.navItem {
    padding: 10px;
}